@charset "UTF-8";

.banner-con {
	width: 100%;
	height: 170px;
	background-color:#ffda5a;
}

.banner-item {
	width: 1000px;
	margin: 0 auto;
}

.bodycon {
	width: 1000px;
	height: 690px;
	margin: 0 auto;
}

.bodycon > div:first-child {
	width: 245px;
	height: 100%;
	float: left;
	background-color: #4e4e4e;
}

.category:hover {
	cursor: pointer;
}

.bodycon > div:first-child div {
	height: auto;
}


.bodycon > div:last-child {
	width: 755px;
	height: auto;
	float: right;
}
.bodycon > div:last-child > div {
	width: 100%;
	height: 110px;
}
.bodycon > div:last-child > div:last-child {
	width: 755px;
	height: 580px;	/* 바디 오른쪽 컨텐츠 부분 */
	background-color: #fff;
}